.message-layout {
  font-size: 12px;
  width: fit-content;
  max-width: 402px;
  padding: 11px;
  margin-bottom: 10px;
  display: flex;
  position: relative;

  &__companion {
    border-radius: 0 12px 12px 12px;
    background-color: #F8F8F8;
  }

  &__you {
    border-radius: 12px 12px 0 12px;
    background-color: var(--hover-color);
    align-self: end;
  }

  &__time {
    font-size: 9px;
    align-self: end;
  }

  &__time_companion {
    color: var(--second-text-color);
  }

  &__time_you {
    color: var(--main-color);
  }

  &__time_image {
    position: absolute;
    bottom: 11px;
    right: 11px;
    background-color: rgba(82, 82, 82, 0.5);
    color: #ffffff;
    padding: 2px 7px;
    border-radius: 30px;
  }

  &__status {
    margin: 0 4px 2px 15px;
    align-self: end;
  }

  &__image-container {
    width: 100%;
    padding: 0;
    max-width: 316px;
    max-height: 211px;
  }

  &__image-container_you {
    align-self: end;
  }

  &__image {
    max-width: 100%;
    object-fit: cover;
    border-radius: 12px;
  }
}