$border-color: #eaeaea;
$second-background-color: #efefef;
$white-color: #fff;

.chat-page {
    display: flex;

    &__dialogs {
        width: 100%;
        max-width: 290px;
        background-color: var(--second-background-color);
        height: 100vh;
        padding: 16px 0;
        border-right: 1px solid $border-color;
        position: relative;

      &-list-empty {
        color: var(--second-text-color);
        font-size: 12px;
        text-align: center;
      }
    }

    &__wrapper {
        display: flex;
        column-gap: 16px;
        align-items: center;
        margin-bottom: 15px;
        padding: 0 10px;
    }

    &__search {
        width: 100%;
        position: relative;
    }

    &__search-input {
        border: none;
        border-radius: 5px;
        background-color: $second-background-color;
        font-size: 12px;
        padding: 10px 10px 10px 30px;
        width: 100%;
    }

    &__add-btn {
        border: 1px solid var(--second-text-color);
        border-radius: 100%;
        background-color: transparent;
        width: 100%;
        background-image: url("/src/assets/icons/plus.svg");
        background-position: center;
        height: 25px;
    }

    &__search-icon {
        position: absolute;
        left: 10px;
        top: 10px;
    }

    &__add-chat-wrapper {
        position: relative;
        width: 11%;
        max-width: 25px;
    }

  &__dashboard-wrapper {
    display: none;
    position: absolute;
    z-index: 100;

    &_create-chat {
      left: 20px;
    }

    &_points {
      right: 26px;
      top: 5px;
      min-width: 210px;
    }

    &_attach {
      bottom: 55px;
      left: 0;
    }
  }

  &__dashboard {
    background-color: $white-color;
    box-shadow: 0 0 6px rgb(0 0 0 / 14%);
    border-radius: 12px;
    padding: 5px 0;
    width: 100%;
    min-width: 162px;
    max-width: 210px;
  }
}
