<div class="popup">
    <div class="popup__container">
        <div class="popup-change-user">
            <p class="popup-change-user__title">Удалить пользователя</p>
            <div class="popup-change-user__wrapper">
                {{{input}}}
                {{{activeButton}}}
            </div>
        </div>
    </div>
</div>
