<div class="popup">
  <div class="popup__container">
    <div class="popup-change-user">
      <p class="popup-change-user__title">Удалить пользователя</p>
      {{{searchedUserForm}}}
      <div class="popup-change-user__cancel-btn-wrapper">
        {{{simpleButton}}}
      </div>
    </div>
  </div>
</div>
