<div class="popup">
  <div class="popup__container">
    <div class="popup-change-user">
      <p class="popup-change-user__title">Удалить пользователя</p>
      {{{form}}}
      {{{simpleButton}}}
    </div>
  </div>
</div>
