{{#>popup}}
  <div class="popup-upload-file">
    <p class="popup-upload-file__title">Загрузите файл</p>
    <a class="popup-upload-file__upload">Выбрать файл на компьютере</a>
    {{>activeButton label="Поменять"}}
  </div>
{{/popup}}