<div class="error-page">
  <h1 class="error-page__title">{{code}}</h1>
  <p class="error-page__message">{{message}}</p>
  <span onclick="router('chatPage')">{{>simpleButton label="Назад к чатам"}}</span>
</div>