<form class="form">
    <div class="form__inputs">
        {{#each inputs}}
            {{{this}}}
        {{/each}}
    </div>
    <div class="form__submit-btn">
        {{{submitButton}}}
    </div>
</form>
