<div class="tooltip">
  <ul class="tooltip__list">
    {{#each items}}
    <li class="tooltip__item">
      <img src={{this.icon}} />
      <p class="tooltip__label {{#if delete}}tooltip__label_red{{/if}}">{{this.label}}</p>
    </li>
    {{/each}}
  </ul>
</div>