.tooltip {
  background-color: #ffffff;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
  border-radius: 12px;
  padding: 5px 0;
  width: 100%;
  min-width: 162px;
  max-width: 210px;

  &__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px 12px;
  }

  &__item:hover {
    background-color: rgba(205, 205, 205, 0.3);
  }

  &__label {
    font-size: 12px;
    margin-left: 8px;

    &_red {
      color: #EF0A0A;
    }
  }
}