<div id="popup-create-chat" class="popup">
  <div class="popup__container">
    <div class="popup-change-user">
      <p class="popup-change-user__title">Создать чат</p>
      {{{form}}}
      {{{simpleButton}}}
    </div>
  </div>
</div>
