{{#>popup}}
  <div class="popup-delete-chat">
    <div class="popup-delete-chat__avatar-wrapper">
      <img src={{avatarUrl}} alt="Аватар" class="popup-delete-chat__avatar" />
    </div>
    <p class="popup-delete-chat__name">Вадим</p>
    <p class="popup-delete-chat__warning-msg">Вы точно хотите удалить чат?</p>

    <div class="popup-delete-chat__btn-wrapper">
      {{>activeButton label="Удалить"}}
      {{>simpleButton label="Отменить"}}
    </div>
  </div>
{{/popup}}