<div class="profile">
  <div class="profile__settings">
    <div class="profile__user-info">
      <div class="profile__avatar-wrapper" onclick="router('popupUploadFile')">
        <img src={{avatarUrl}} alt="Аватар" class="profile__avatar" />
      </div>
      <div class="profile__user-wrapper">
        <p class="profile__user-name">Иван</p>
        <p class="profile__user-phone">+7 (909) 967 30 30</p>
        <p class="profile__user-nickname">ivanIvanov</p>
      </div>
    </div>

    <ul class="profile__settings-list">
      <li class="profile__settings-item">Изменить данные</li>
      <li class="profile__settings-item">Изменить пароль</li>
      <li class="profile__settings-item profile__settings-item_exit">Выйти</li>
    </ul>
    {{>widgetBar profileIcon=profileIconActive chatIcon=chatIconDefault}}
  </div>

  <div class="profile__content">
  {{#if true}}
    {{#if true}}
    <ul class="profile__list profile__list_data">
      <li class="profile__list-item">
        <p class="profile__list-item-title">Почта</p>
        <p class="profile__list-item-info">pochta@yandex.ru</p>
      </li>
      <li class="profile__list-item">
        <p class="profile__list-item-title">Логин</p>
        <p class="profile__list-item-info">ivanivanov</p>
      </li>
      <li class="profile__list-item">
        <p class="profile__list-item-title">Имя</p>
        <p class="profile__list-item-info">Иван</p>
      </li>
      <li class="profile__list-item">
        <p class="profile__list-item-title">Фамилия</p>
        <p class="profile__list-item-info">Иванов</p>
      </li>
      <li class="profile__list-item">
        <p class="profile__list-item-title">Имя в чате</p>
        <p class="profile__list-item-info">ivanIvanov</p>
      </li>
      <li class="profile__list-item">
        <p class="profile__list-item-title">Телефон</p>
        <p class="profile__list-item-info">+7 (909) 967 30 30</p>
      </li>
    </ul>
    {{else}}
    <form class="profile__form">
      <ul class="profile__list profile__list_data">
        <li class="profile__list-item">
          <label for="email">Почта</label>
          {{>inputUserProfile
              id="email"
              name="email"
              value="pochta@yandex.ru"
              type="text"
          }}
        </li>
        <li class="profile__list-item">
          <label for="email">Логин</label>
          {{>inputUserProfile
              id="login"
              name="login"
              value="ivanivanov"
              type="text"
          }}
        </li>
        <li class="profile__list-item">
          <label for="email">Имя</label>
          {{>inputUserProfile
              id="first_name"
              name="first_name"
              value="Иван"
              type="text"
          }}
        </li>
        <li class="profile__list-item">
          <label for="email">Фамилия</label>
          {{>inputUserProfile
              id="second_name"
              name="second_name"
              value="Иванов"
              type="text"
          }}
        </li>
        <li class="profile__list-item">
          <label for="email">Имя в чате</label>
          {{>inputUserProfile
              id="display_name"
              name="display_name"
              value="ivanIvanov"
              type="text"
          }}
        </li>
        <li class="profile__list-item">
          <label for="email">Телефон</label>
          {{>inputUserProfile
              id="phone"
              name="phone"
              value="+7 (909) 967 30 30"
              type="text"
          }}
        </li>
      </ul>
      <div class="profile__btn-save-wrapper">
        {{> activeButton label="Сохранить"}}
      </div>
    </form>
  {{/if}}
  {{else}}
    <form class="profile__form">
      <ul class="profile__list profile__list_change-password">
        <li class="profile__list-item">
          <label for="oldPassword" class="profile__list-item-title">Старый пароль</label>
          {{>inputUserProfile
              id="oldPassword"
              name="oldPassword"
              value="pochta@yandex.ru"
              type="password"
          }}
        </li>
        <li class="profile__list-item">
          <label for="newPassword" class="profile__list-item-title">Новый пароль</label>
          {{>inputUserProfile
              id="newPassword"
              name="newPassword"
              value="ivanivanov"
              type="password"
          }}
        </li>
        <li class="profile__list-item">
          <label for="newPasswordRepeat" class="profile__list-item-title">Повторите новый пароль</label>
          {{>inputUserProfile
              id="newPasswordRepeat"
              name="newPassword"
              value="Иванов"
              type="password"
          }}
        </li>
      </ul>
      <div class="profile__btn-save-wrapper">
        {{> activeButton label="Сохранить"}}
      </div>
    </form>
  {{/if}}
  </div>
</div>