{{#>popup}}
  <div class="popup-change-user">
    <p class="popup-change-user__title">Добавить пользователя</p>
    <div class="popup-change-user__wrapper">
      {{>input label="Логин" id="login"}}
      {{>activeButton label="Добавить"}}
    </div>
  </div>
{{/popup}}