{{#>popup}}
  <div class="popup-change-user">
    <p class="popup-change-user__title">Удалить пользователя</p>
    <div class="popup-change-user__wrapper">
      {{>input label="Логин" id="login"}}
      {{>activeButton label="Удалить"}}
    </div>
  </div>
{{/popup}}