<div class="sign-in">
    <form class="sign-in__form">
        <div>
            <h1 class="sign-in__title">Вход</h1>
            <ul class="sign-in__inputs">
                <li class="sign-in__input-container">
                    <label class="sign-in__input-label" for="login">Логин</label>
                    {{{inputLogin}}}
                    <span class="input-error-message">Неверный логин</span>
                </li>
                <li class="sign-in__input-container">
                    <label class="sign-in__input-label" for="password">Пароль</label>
                    {{{inputPassword}}}
                    <span class="input-error-message">Неверный пароль</span>
                </li>
            </ul>
        </div>
        <div class="sign-in__wrapper">
            {{{activeButton}}}
            {{{simpleButton}}}
        </div>
    </form>
</div>
