$white-color: #fff;

.active-btn {
  background-color: var(--main-color);
  font-size: 13px;
  border-radius: 8px;
  border-color: transparent;
  color: $white-color;
  padding: 12px 0;
  width: 100%;
  max-width: 280px;
}

.active-btn:hover {
  background-color: #2c5cd8;
}
