@import "../assets/css/normalize.css";
@import 'simpleButton/simpleButton';
@import 'activeButton/activeButton';
@import 'input/input';
@import '../pages/signUp/signUp';
@import '../pages/signIn/signIn';
@import '../pages/chatPage/chatPage';
@import 'dialog/dialog';
@import 'messageLayout/messageLayout';
@import '../pages/profilePage/profilePage';
@import 'widgetBar/widgetBar';
@import "popup/popup";
@import "../pages/popupDeleteChat/popupDeleteChat";
@import "../pages/popupUploadFile/popupUploadFile";
@import "errorPageLayout/errorPageLayout";

:root
{
  --main-color: #3369F3;
  --second-text-color: #999999;
  --hover-color: #E4EDFD;
}

@font-face {
  font-family: "Inter";
  src: url('../assets/fonts/Inter-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url('../assets/fonts/Inter-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: "Inter";
  font-weight: 500;
  color: #1E1E1E;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}