<ul class="widget-bar">
  <li>
    <button class="widget-bar__button" onclick="render('profilePage')">
      <img src={{profileIcon}} alt="Профиль" />
    </button>
  </li>
  <li>
    <button class="widget-bar__button" onclick="render('chatPage')">
      <img src={{chatIcon}} alt="Чат" />
    </button>
  </li>
</ul>
