<ul id="{{dropdownId}}" class="searched-users-form__list">
  {{#each searchedUsers}}
    {{{this}}}
  {{/each}}
  <div class="searched-users-form__dropdown-add-users-btn">
    {{{selectUsersBtn}}}
  </div>
</ul>
