<div class="sign-up">
  <form class="sign-up__form">
    <div>
      <h1 class="sign-up__title">Регистрация</h1>
      <div class="sign-up__inputs">
          {{#each inputs}}
              {{{this}}}
          {{/each}}
      </div>
    </div>
    <div class="sign-up__wrapper">
        {{{activeButton}}}
        {{{simpleButton}}}
    </div>
  </form>
</div>
