<div class="popup">
    <div class="popup__container">
      <div class="popup-upload-file">
        <p class="popup-upload-file__title">Загрузите файл</p>
        {{{uploadFileForm}}}
      </div>
    </div>
</div>
